@import 'reset.less';
@import 'spacing.less';
@import 'typography.less';
@import 'hero.less';
@import 'hobby_cards.less';
@import 'projects_wall.less';
@import 'toggle.less';

:root {
    --c-primary: #5998D6;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans';
    background: black;

}


.main {
    position: relative;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: difference;
    z-index: 1;
    gap: 100px;
    padding: 100px 0;
    box-sizing: border-box;
    &.main--no-blend {
        mix-blend-mode: normal;
    }
}

.section {
    display: flex;
    width: 70%;
    min-width: 960px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .section__title {
        color: var(--c-primary);
        margin-top: 0;
        text-align: left;
    }

    .section__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }
}
.status__container {
    width: 100%;
    display: flex;
    gap: 75px;

    .picture-half {
        display: inline;
        object-fit: cover;
        width: 300px;
        border-radius: 15px;
        /* filter: contrast(120%) saturate(120%); */
    }
    
    .status-text__container {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 15px;
        border-spacing: 0;;
        .status-text__container-row {
            height: 78px;
            color: var(--c-primary);
            text-align: left;
      
            td {
                padding-left: 35px;
                border-bottom: 1px solid #d9d9d9;
                &:first-child {
                    border-left: 1px solid #d9d9d9;
                }
                &:last-child {
                    border-right: 1px solid #d9d9d9;
                }
            }
            
    
            
            label {
                width: 200px;
                font-family: 'PlusJakartaSansExtraBold';
            }
    
            &:last-child {
                td:first-child {
                    border-radius: 0 0 0 15px;
                }
                td:last-child {
                    border-radius: 0 0 15px 0;
                }
            }
            &:first-child {
                border-radius: 15px 15px 0 0;
                border: none;
            }
        }
        .status-text__container-row--header td {
            position: relative;
            background-color: #f7f7f7;
            color: var(--c-primary);
            font-family: 'PlusJakartaSansExtraBold';
            padding: 0 35px;
            border-radius: 15px 15px 0 0;
    
            padding: 0 35px;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            border-color: #F7F7F7 !important;
    
    
        }
        .status-text__container-label {
            position: absolute;
            top: 100%;
            right: 0;
            height: 38px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            background-color: var(--c-primary);
            color: white;
            font-family: 'Plus Jakarta Sans';
            border-radius: 0 0 19px 19px;
        }
    }
}


.cards__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
}

.card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.featured-projects__card {
    width: 100%;
    max-height: 300px;
    display: flex;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.featured-projects__card-title {
    color: white;
}

.tools__container__wrapper {
    width: 100%;
    padding: 40px 150px;
    background: #F7F7F7;
    border-radius: 15px;
    box-sizing: border-box;
}
.tools__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 0fr;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
    transition: height 0.4s ease-in;
    box-sizing: border-box;

      
    .grid-item {
        height: 64px;
        width: 195px;
        display: flex;
        position: relative;
        align-items: center;
        background-color: white;
        font-family: 'Plus Jakarta Sans';
        border-radius: 5px;;
        text-wrap: nowrap;
        box-sizing: border-box;
        color: black;
        font-weight: bold;
        padding: 21px 20px;
        overflow: hidden;
        margin-bottom: 5px;
        box-sizing: border-box !important;  

        img {
            margin-right: 8px;
            width: 33px;
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(var(--y, 0) * 1px - 50px);
            left: calc(var(--x, 0) * 1px - 50px);
            width: 100px;
            height: 100px;
            opacity: 0;
            transition: opacity 0.2s;
        }

        &:hover {
            &::after {
                opacity: 0.4;

            }
        }
    }
}

.projects__container {
    width: 100%;
    display: flex;
    gap: 1px;

    .project__card {
        /*TO DO: REMOVE "pointer-events: none" BECAUSE THAT WAS ONLY
        FOR TEMPORARILY DISABLING THE PROJECTS CARDS!! REMOVE THIS LINE OF CODE LATER! */
        pointer-events: none;
        width: 100%;
        background-color: var(--c-primary);
        color: white;
        padding: 20px 8px;
        box-sizing: border-box;
        transition: background 0.07s linear, border-radius 0.8s ease-out 0.28s;

        .project__card-content__wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .project__card__list {
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease-out;
            .project__card__list-item {
                min-height: 200px;
                color: var(--c-primary);
                padding: 18px;
                box-sizing: border-box;
                .project__card__list-item__picture {
                    width: 100%;
                    max-height: 150px;
                    object-fit: cover;
                }
            }
        }

        &:first-child {
            border-radius: 200px 0 0 200px;
        }

        &:last-child {
            border-radius: 0 200px 200px 0;
        }
        
        &:hover {
            background-color: #90b4ce;
        }
        &:focus {
            background-color: #E6F5FF;
            color: var(--c-primary);
            transition: border-radius 0s linear;

            .project__card__list {
                display: block;
            }


            &:first-child {
                border-radius: 110px 0 0 0px;
            }
            &:last-child {
                border-radius: 0 110px 0 0;
            }
        }
    }

    
}

    
.grid__card__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.grid__row {
    position: relative;
    margin-top: 0;

    &:first-of-type {
        .grid__card:first-child {
            border-radius: 15px 0 0 0;
        }
        .grid__card:last-child {
            border-radius: 0 15px 0 0;
        }
    }
    &:last-of-type {
        .grid__card:first-child {
            border-radius: 0 0 15px 15px;
            cursor: initial;
            transition: height ease-out 0.1s;
            height: 200px;
            &:hover, &:focus {
                background-image: url('https://i.pinimg.com/originals/2c/7c/cf/2c7ccfba6490b77f6688ae0d429d3a3a.gif') !important;
                height: 400px;
                background-blend-mode: lighten;
            }
        }
    }
    width: 100%;
    display: flex;
    gap: 1px;

    &:focus-within {
        + .grid__row {
            transition: margin-top 0.3s ease-out;
            margin-top: 80vh;
        }
    }

 


    .grid__card {
        width: 100%;
        height: fit-content;
        background-color: var(--c-primary) !important;
        background-repeat: no-repeat;
        background-size: 0;
        color: white;
        box-sizing: border-box;
        transition: background-color 0.07s linear, border-radius 0.8s ease-out 0.28s;
        cursor: pointer;

        .grid__card-content__wrapper {
            height: 220px;
            align-content: center;
            padding: 0 20px;
            .grid__card-hover-text {
                opacity: 0;
                transition: opacity 0.1s linear;
                padding: 30px;
                text-align: left;
                height: 0;
            } 
            &:hover {
                &:has(.grid__card-hover-text) {
                    padding-top: 45px;
                }
                .grid__card-hover-text {
                    opacity: 1;
                    height: fit-content;
                } 
            }
        }


        .grid__card__list {
            height: 0;
            width: 100%;
            position: absolute;
            left: 0;
            overflow: hidden;
            z-index: 100;
            transition: height 0.3s ease-out;
            background-color: #E6F5FF;
            .grid__card__list-item {
                display: flex;
                flex-direction: row;
                height: 80vh;
                color: var(--c-primary);
                box-sizing: border-box;
                cursor: initial;
                .grid__card__list-item__picture {
                    width: 50%;
                    object-fit: cover;
                    background-color: black;
                }
            }
        }
        
        .grid__card__list-item__content-wrapper {
            width: 50%;
        }

        .grid__card-title {
            margin: 0;
            font-size: 20px;
        }

        .grid__card__text {
            padding: 40px 60px;
            text-align: left;
            box-sizing: border-box;
        }
        
        .grid__card__media-list {
            width: fit-content;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 28px;
            padding-left: 0;
            border-radius: 8px;
            border: 12px solid white;
            background-color: white;
        }

        .grid__card__media-item {
            width: 80px;
            height: 80px;
            position: relative;
            min-width: 80px;
            overflow: hidden;
            cursor: pointer;
            opacity: 1;


            :hover {
                opacity: 0.6;
            }

            video, img, iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 3px;
            }

            iframe {
                pointer-events: none;
            }

            &:has(video) {
                &::before {
                    position: absolute;
                    content: "▶";
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 32px;
                }
            }

        }
        .grid__card__list-item__pop-up {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.459);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
            video, img {
                max-height: 80%;
                max-width: 80%;
                object-fit: contain;
                border-radius: 15px;
            }
            .pop-up__arrows {
                display: flex;
                width: 160px;
                justify-content: space-between;
                position: absolute;
                bottom: 0;
                
                .pop-up__arrow {
                    font-size: 70px;
                    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    color: white;
                    opacity: 0.2;
                    background: none;
                    border: none;

                    &.enabled {
                        opacity: 1;
                        &:hover {
                            color: rgb(207, 207, 207);
                        }
                    }
               
                }
            }
        }

        &:hover {
            background-color: #90b4ce;
            background-size: cover;
            background-position: center;
            background-blend-mode: color-burn; 
        }
        &:focus {
            background-color: #E6F5FF;
            transition: border-radius 0s linear;

            .grid__card__list {
                display: block;
                transition: height 0 ease-out;

            }
        }
    }
}

footer {
    height: 500px;
    overflow: visible;
    margin: auto;
        background-color: var(--c-primary);
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
    position: relative;

    .footer__contact-wrapper {
        width: 70%;
        min-width: 960px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 40px;
    }

    .footer__contact-container {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        align-items: flex-start;
        text-align: left;
        h2 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .footer__image-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: calc(100% - 80px);

        .footer__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 28px;
        }
        p {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            margin: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0.392);
            visibility: hidden;
        }
        &:hover p {
            visibility: visible;
        }
    }
    .footer__icons {
        display: flex;
        gap: 12px;
        img {
           width: 36px;
           &:hover {
            opacity: 0.8;
           }
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        top: -100%;
    }
    100% {
        opacity: 0.5;
        top: 100%;
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    2% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    7% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    29% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    31% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-50px);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: 'PlusJakartaSansExtraBold';
    src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf');
}


@media(max-width: 1800px) {
    .tools__container__wrapper {
        padding: 20px 60px;
    }
    .tools__container {
        padding: 20px;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        
        .grid-item {
            width: 200px;
        }
    }
}
@media(max-width: 1024px) {
    .section {
        min-width: unset;
        width: 80%;

        .section__content {
            justify-content: space-between;
        }

        .status__container {
            gap: 20px;

            .picture-half {
                width: 200px;
            }
        }
    }
    .tools__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        .grid-item {
            width: unset;
        }
    }

    .grid__row .grid__card .grid__card__list .grid__card__list-item {
        flex-direction: column;
        .grid__card__list-item__picture {
            width: 100%;
            height: 30%;

        }
        .grid__card__list-item__content-wrapper {
            width: 100%;
            height: 100%;
        }
    }

    footer .footer__contact-wrapper {
        width: 80%;
        min-width: unset;
    }
}

@media(max-width: 980px) {
    .grid__row .grid__card { 
        .grid__card-content__wrapper {
            padding: 0;
        }
        .grid__card-title {
            font-size: 14px;
        }

    }
}

@media (max-width: 769px) {
    .section {
        width: 85%;
        .status__container {
            flex-direction: column;
            width: 100%;
            .picture-half {
                width: 100%;
                height: 300px;
                object-position: 0 -160px;
            }
        }
        
        .cards__container {
            flex-wrap: wrap;

            .hobby__card {
                max-width: unset;
                width: calc(50% - 10px);
            }
        }
    }
    
    .tools__container__wrapper {
        padding: 0;
    }
    
    .tools__container {
        padding: 20px;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        
        .grid-item {
            width: auto;
            height: 40px;
            padding: 0 10px;
            img {
                width: 20px;
            }
        }
    }

    .projects__container {
        flex-direction: column;
        .project__card {

            &:first-child {
                border-radius: 20px 20px 0 0;
            }
            
            &:last-child {
                border-radius: 0 0 20px 20px;
            }

            &:focus {
                background-color: #E6F5FF;
                color: var(--c-primary);
                height: fit-content;
                &:first-child {
                    border-radius: 20px 20px 0 0;
                }
                &:last-child {
                    border-radius: 0 0 20px 20px;
                }
            }

            .project__card__list {
                padding: 0;
                .project__card__list-item {
                    min-height: unset;
                    display: flex;
                    gap: 10px;
                    .project__card__list-item__picture {
                        width: 50%;
                        height: 100%;
                    }
                }
            }
            
        }
    }
    
    footer {
        flex-direction: column;
        .footer__contact-wrapper {
            width: 85%;
        }
        .footer__contact-container {
            box-sizing: border-box;
        }

        .footer__contact-wrapper {
            top: 0;
            left: 0;
        }
        .footer__image-wrapper {
            width: 80%;
            height: 50%;
        }
    }

    .grid__card__list-item__content-wrapper {
        padding: 0;
    }
    .grid__row .grid__card .grid__card__text {
        padding: 20px 28px;
    }

    .grid__row:last-of-type .grid__card:first-child {
        &:hover, &:focus {
            height: 50vh;
            min-height: fit-content;
            padding-bottom: 100px;
            box-sizing: content-box;
        }
    }

}

@media (max-width: 481px) {
    .main {
        gap: 70px;
    }
    
    .section {
        width: 90%;

        .status__container {
            flex-direction: column;
            
            .picture-half {
                width: 100%;
                height: 300px;
                object-position: 0 -60px;
            }
                
            .status-text__container {
                .status-text__container-row {
                    height: 48px;
                    td {
                        padding-left: 12px;
                        p {
                            margin: 0;
                        }
                    }
                }
                .status-text__container-label {
                    padding: 8px 12px;
                    height: unset;
                }
            }
        }

        .hobby__card {
            height: 200px;
        }
            
        .tools__container {
            grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
            
            .grid-item {
                height: 40px;
                padding: 0 10px;
                img {
                    width: 20px;
                }
            }
        }
    }

    footer {
        height: 300px;

        .footer__contact-wrapper {
            width: 90%;
            padding-top: 0;
        }
    }

    .grid__card {
        border-bottom: 1px solid white;
    }

    .grid__card-title {
        word-break: break-all;
    }
}